# Host port to expose the site
APP_PORT=8080

# Host path to your media directory.
# Windows examples:
# MEDIA_PATH=./media
# MEDIA_PATH=C:/Users/YourName/Videos/static-video-centre-media
MEDIA_PATH=./media
